
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    min-height:85vh;
    max-height: inherit;
    background-color:var(--main) ;
}
::-webkit-scrollbar{
    width:8px!important;
}

.top{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    max-height: inherit;
}
.top-content{
    margin: auto;
    border: 2px solid #1ED760;
    width: 60%;
    height: 30vh;
    max-height: 100vh;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.hies{
    width: 100%;
    height: 20%;
    border-bottom : 2px solid #1ED760;
    display: flex;
    align-items: center;
}
.top-content ul{
    width: 100%;
    height: 80%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.top-content ul > li{
    width: 100%;
    height: 20%;
    background-color: rgb(57, 153, 48,0.3);
    color: white;
    display: flex;
    align-items: center;
    border-bottom:2px solid #1ED760 ;
}
.bottom{
    width: 100%;
    height: 45vh;
    max-height: inherit;
    display: flex;
    align-items: center;
}
.bottom-content{
    width: 20%;
    height:30%;
    max-height: inherit;
    border: 2px solid #1ED760;
    margin: auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cash{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
.cesh{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
.cesh button{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    outline: none;
    border: none;
    background-color: #1ED760;
    cursor: pointer;
    font-size: 150%;
    border: 5px solid var(--main);
}
@media(max-width:1085px){
    .cash{
        font-size:90%;
    }
}

.see-report__button--hidden {
    display: none;
};