.centerl {
    height: 87.5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:2%;
  }
  .active-notifications{
      display:block;
      height:auto;
      width: 30%;
      border: 2px solid #1ED760;;
      margin-bottom: 2%;
      min-height: 50px;
      min-width: 382px;
      max-height: 300px;
      overflow: auto;
  }
  .finished-notifications{
    display:block;
    width: 30%;
    height: auto;
    border: 2px solid #1ED760;
    min-height: 50px;
    max-height: 300px;
    overflow: auto;
    min-width: 382px;
  }
  .jarak{
      font-size:150%;
  }
  table{
      width: 100%;
      height: auto;
      border-spacing: 0;
  }
  tbody{
      width: 100%;
  }
  tr{
      width: 100%;
      height: 50px;
      padding:0;
      margin:0;
  }

  td:first-child{
      width:40%;
      border-bottom:1px solid white;
      border-right: 1px solid white;
  }
  td{
      width:40%;
      margin: 0;
      border-bottom: 1px solid white;
      border-right: 1px solid white;
  }
  td:last-child{
      width: 20%;
      border-right:none;
  }
tr:last-child > td{
    border-bottom:none;
}
.active-notifications button,
.finished-notifications button{
    outline: none;
    background-color: transparent;
    border: 1px solid white;
    cursor:pointer;
    color: white;
    transition: 0.3s;
}
.active-notifications button:hover,
.finished-notifications button:hover{
    background-color: #1ED760;
    color: black;
    border: 1px solid #1ED760;
}
