.wrapper {
  height: 100%;
  background-color: #121212;
  min-height: 625npm run px;
 
}
.top {
  height: 100px;
  width: 100%;
  display: flex;
  
}
.img {
  height: 87.5vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.img img {
  margin: auto;
}
.top button {
  height: 60px;
  width: 60px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  background-color: #c4c4c4;
  margin-left: 20%;
  z-index: 100;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top:30px;
}
.top button:hover {
  cursor: pointer;
}
.search__button--inactive {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.search__button--active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: .5s;
}
button img {
  margin: auto;
  width: 35px;
  height: 35px;
}
button:focus input {
  margin-left: 20%;
}
.top input {
  width: 56%;
  height: 60px;
  position: absolute;
  margin-left: 20%;
  font-size: 140%;
  border-radius: 30px;
  outline: none;
  padding-right: 2%;
  padding-left: 5.2%;
  z-index: 50;
  transition: 1s;
  margin-top:30px;
}
.search__input {
  transform-origin: left;
  transform-origin: 30px;
  transform: scaleX(0);
}
.search__input--visible {
  transform: scale(1);
}
.top input[type="search"]::placeholder {
  color: #c4c4c4;
}
.adresses{
  width: 56%!important;
 margin-top: -0.3%;
 z-index:49!important;
}
@media(max-width:1000px){
  .top input{
    font-size:120%;
    padding-left:8%;
  }
}
@media(max-width:1200px){
  .top input {
    padding-left: 6.5%;
  }
}
@media(max-width:895px){
  .top input {
    padding-left: 7.5%;
  }
}
@media (max-width: 788px) {
  .top input {
    padding-left: 9.2%;
  }
}
@media(max-width:659px){
  .top input {
    padding-left: 11%;
  }
}
@media(max-width:545px){
  .top input {
    padding-left: 13%;
  }
}